<!--SI EL USUARIO ES ADMIN APARECE EL FORMULARIO PARA AGREGAR ALBUM-->
<div class=" formContainer" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

	

	<div *ngIf="alertMessage">
		<div class="alert alert-info">
		  {{alertMessage}}
		</div>
</div>

   <!--FORMULARIO PARA AGREGAR ALBUM-->
	<form class="form album-add" #formAlbum="ngForm" (ngSubmit)="onSubmit()">
		
		 <div class="inputHolder">
			<h1>{{titulo}}</h1>
			<p>
				<label>Titulo</label><br/>
				<input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required class="input-form"/>
				<span *ngIf="!title.valid && title.touched" class="alert">
					Campo obligatorio
				</span>
			</p>
	
			<p>
				<label>Descripción</label><br/>
				<input #description="ngModel" name="description" [(ngModel)]="album.description" required class="input-form"/>
				<span *ngIf="!description.valid && description.touched"  class="alert">
					Campo obligatorio
				</span>
			</p>
	
			<p>
				<label>Año</label><br/>
				<input type="text" #year="ngModel" name="year" [(ngModel)]="album.year" required class="input-form"/>
				<span *ngIf="!year.valid && year.touched"  class="alert">
					Campo obligatorio
				</span>
			</p>
	   
					<button type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid" class="btnRaise">Agregar Album</button>

			</div>
	
	  </form>

	</div>
		

