<div class="album-box album-detail" *ngIf="album"> <!--SI HAY ALBUM-->

	 <!--CARD DEL ALBUM-->
	<div id="album-head-card">

		<div class="infoHolder">
             <!--IMAGEN DEL CARD-->
             <div class="image">
		        <img src="{{ url + 'get-image-album/' + album.image }}" />
	        </div>
	      <!--DATA-->
	     <div class="data">
		     <h1>{{album.title}}</h1>
		     <p>Artist name: <strong>{{album.artist.name}}</strong></p>
		     <p>year : {{album.year}}</p>
			 <p>{{album.description}}</p>
			 <p> <a href="" target="_blank">Soundcloud</a></p>
			 <p><a href="" target="_blank">Bandcamp</a></p>

		 <!--SI EL USUARIO ES ADMIN APARECE EL BOTON PARA AÑADIR CANCION-->
	    </div>
	       <button [routerLink]="['/crear-tema', album._id]" class="btnRaise" *ngIf="identity.role == 'ROLE_ADMIN'">
		        Añadir canción
		   </button>
	  </div>
		
	</div>
	
	<!--TRACK LIST DEL ALBUM O LISTA DE REPRODUCCION-->

	<div id="gallery-songs" *ngIf="songs">

		<ul id="songs-list">

			<li *ngFor="let song of songs" class="song-item">

				<div class="title">
					<div class="playlistImg">
							<div *ngIf="!song.image">
									<img src="{{ url + 'get-image-album/' + album.image }}" />
							</div>
							<div *ngIf="song.image">
									<img src="{{ url + 'get-image-song/' + song.image }}" />
							</div>
					</div>
						
                    <!--CONFIGURAR PLAYLIST	-->
					
            <div class="contentItem">

							 <a class="playBtn" (click)="startPlayer(song)">
								  <span class="" aria-hidden="true"></span>
									<svg-icon src="../../assets/images/play.svg" [svgStyle]="{ 'width.px':50,'fill':'rgb(253,253,253)','cursor':'pointer'}"></svg-icon>
							</a>

							<p>{{song.number + '. '+ song.name + ' - '+ song.duration}}</p>	<!--INFO CANCION-->

							    <!--SI EL USUARIO ES ADMIN MUESTRA LOS BOTONES PARA BORRAR O EDITAR CANCION-->
								
								<div class="editDelete" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
								 
									<button [routerLink]="['/editar-tema', song._id]" class="btnWarning">Editar</button>
								    ||
							    <button (click)="onDeleteConfirm(song._id)" class="btnEliminar">Borrar</button>
							 
							  </div>
								 
								<!--CONFIRMACION DE ELIMINADO DE CANCION-->
							
								<div class="seguro seguro-song" *ngIf="confirmado == song._id">
									
									<button (click)="onDeleteSong(song._id)" class="btnEliminar">Eliminar</button>
									
									<button (click)="onCancelSong()" class="btnWarning">Cancelar</button>
							 
							 </div>
							 
					  </div>
				   

					<div class="clearfix"></div>
				</div>

			</li>

		</ul>

	</div>
	
</div>
