<section class="albumListView">
  <!--LISTA DE ALBUMS-->
  <div class="" *ngIf="identity">

     <h1>{{titulo}}</h1>

     <br>

     <ul class="pagination pull-right">
        <li><a [routerLink]="['/albums',prev_page]">&laquo;</a></li>
        <li><a [routerLink]="['/albums',next_page]">&raquo;</a></li>
     </ul>

  </div>

 <div class="clearfix"></div>

  <ul class="album-list" *ngIf="identity">

    <li *ngFor="let album of albums" class="artist-item">

      <div class="artist-image">
        <img src="{{url + 'get-image-album/' + album.image}}">
      </div>

        <div class="artist-name">

          <div class="album-name">
            <p>
              <a [routerLink]="['/album', album._id]">
                {{album.title}}
              </a>
            </p>
              ||
            <p>
              <a [routerLink]="['/artista', album.artist._id]">
                {{album.artist.name}}
              </a>
            </p>

          </div>

      </div>

    </li>

  </ul>
  
</section>
