
<div *ngIf="artist" class="artist-box artist-detail">

  <div class="head-page">
   
     <h1>{{artist.name}}</h1>
           
           <div class="headHolder">

              <div class="maskHolder">
                <div class="artistMask"></div>
                <div class="clearfix"></div>
              </div>
               
    
               <div class="artistDataHolder">

                    <div class="dataHolder">

                         <div class="image">
                             <img src="{{url + 'get-image-artist/' + artist.image}}" *ngIf="artist.image && artist.image !== 'null'">
                         </div>
                  
                         <div id="data">
                            <p class="description">{{artist.description}}</p>
                            <button [routerLink]="['/crear-album',artist._id]" *ngIf="identity.role =='ROLE_ADMIN'" class="btnRaise">Añadir Album</button>
                         </div>

                    </div>
                  
               </div>
           
           </div>

  </div>

 <div id="gallery-albums" *ngIf="albums">
   <!--LISTADO DE ALBUMS-->
     <ul class="album-list ">
       <li *ngFor="let album of albums" class="album-item">

             <div class="album-image">
                 <img src="{{url + 'get-image-album/' + album.image}}" alt="">
             </div>

             <div class="album-name">
               
                 <a [routerLink]="['/album', album._id]">{{album.title}}</a>
               
              
               <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                  <a [routerLink]="['/editar-album',album._id]" class="">Editar</a>
                  <a (click)="onDeleteConfirm(album._id)" class="">Eliminar</a>
               </div>

             </div>

             <div class="seguro-album" *ngIf="confirmado == album._id">
                 
                 <h5>¿Estas seguro de querer eliminar este Album?</h5>
                 
                 <a (click)="onDeleteAlbum(album._id)" class="">Eliminar</a>
                 <a (click)="onCancelAlbum(album._id)" class="">Cancelar</a>
             </div>

       </li>
     </ul>

 </div>
</div>
