<!--FORMULARIO PARA AGREGAR CANCION SI EL USUARIO ES ADMIN-->
<div class="formContainer"*ngIf="identity && identity.role=='ROLE_ADMIN'">
  

  <div *ngIf="alertMessage">
		<div class="alert alert-info">
		  {{alertMessage}}
		</div>
	</div>

  <form class="form song-add" #formSong="ngForm" (ngSubmit)="onSubmit()">
      <h1>{{titulo}}</h1>
      <div class="inputHolder">
          <p>
              <label>Número</label><br/>
              <input type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required  class="form-input">
              <span *ngIf="!number.valid && number.touched">
                El número de canción es obligatorio
              </span>
            </p>
        
            <p>
              <label>Titulo</label><br/>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required class="form-input">
              <span *ngIf="!name.valid && name.touched">
                El titulo es obligatorio
              </span>
            </p>
        
            <p>
              <label>Duración</label><br/>
              <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required class="form-input"/>
              <span *ngIf="!duration.valid && duration.touched">Indica la duración de tu canción
              </span>
            </p>
        
            <button type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btnRaise inputBtn">Agregar Canción</button>

      </div>
   
  </form>
</div>
