<!--FORMULARIO PARA EDITAR DATOS DE USUARIO-->
<div class="col-lg-6 userEdit" *ngIf="identity">
  <hr>
  <h1>{{titulo}}</h1>

  <div class="col-lg-6 userFormContainer">

    <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>

    <!--FORMULARIO -->
    <form class="form" #userUpdateForm ="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <label>Nombre </label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-input" required>
        <span *ngIf="!name.valid && name.touched">
            El Nombre es obligatorio
        </span>
      </p>

      <p>
        <label>Apellidos</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-input" required>
        <span *ngIf="!surname.valid && surname.touched">
            El Apellido es obligatorio
        </span>
      </p>

      <p>
        <label>Correo electronico </label>
        <input type="email" #email="ngModel" name="email" [(ngModel)] ="user.email"   class="form-input" required>
        <span *ngIf="!email.valid && email.touched">
            El email es obligatorio
        </span>
      </p>
         <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
           <img class="img-user"src="{{url + 'get-image-user/' + user.image}}" style="width:50px;">
         </div>

         <p>
           <label>Imagen</label>
           <input type="file" placeholder="Subí tu imagen.." (change)="fileChangeEvent($event)" >
         </p>
      <input type="submit" class="btnAdd" value="Actualizar">
    </form>

  </div>

</div>
