<!--FORMULARIO PARA EDITAR DATOS DE USUARIO-->
<div class="userEditView " *ngIf="identity">
  
  

  <div class="userFormContainer">

    <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>
    
    <!--FORMULARIO -->
    <form class="form" #userUpdateForm ="ngForm" (ngSubmit)="onSubmit()">
        <h1>{{titulo}}</h1>
        <div class="inputHolder">
            <p>
                <label>Nombre </label><br>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-input" required>
                <span *ngIf="!name.valid && name.touched" class="alert">
                    El Nombre es obligatorio
                </span>
               </p>
               
               
               <p>
                <label>Apellidos</label><br>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-input" required>
                <span *ngIf="!surname.valid && surname.touched" class="alert">
                    El Apellido es obligatorio
                </span>
               </p>
                
             
        
                <p>
                  <label>Correo electronico </label><br>
                  <input type="email" #email="ngModel" name="email" [(ngModel)] ="user.email"   class="form-input" required>
                  <span *ngIf="!email.valid && email.touched" class="alert">
                      El email es obligatorio
                  </span>
                </p>
                
           
                 <div class="image_for_edit" *ngIf="user.image && user.image != 'null'" >
                   <img class="img-user"src="{{url + 'get-image-user/' + user.image}}" style="width:50px;" >
                 </div>
        
              
                   <label>Imagen</label>
                   <p>
                    <button class="btnRaise" type="file"  (change)="fileChangeEvent($event)" >Seleccionar Imagen</button>
                 
                    <button type="submit" class="btnRaise" value="Actualizar">Actualizar</button>
                   </p>
        </div>
       
          
    </form>

  </div>

</div>
