
//artist general
.section-1,.artist-detail{
    position: relative;
    color: white;
    a{
        color: white;
        text-decoration: none;
    }
    ul{
        list-style-type: none;
        li{

        }
    }
}



