

button, .inputBtn{
    background: none;
    border: 1px solid white;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color:white
}

.btnRaise:hover,
.btnRaise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.25em);
}