.album-image{

    span{

       #play-image-album{
          width: 50px;
       }

    } 
   
 }//end album-image

 .audio-file{

     p,#play-song-title{
         color: white;
         font-size: 30px;
     }
     
 }