/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Abel');
body{
    margin:0px;
    overflow-x: hidden;
    font-family: 'Abel', sans-serif;
    h1,h2,h3{
        margin: 0;
    }
     img{
         max-width: 200px;
     }
    .clearfix::after{
        content: "";
        clear: both;
        display: table;
    }
}