
<!-- Menu de navegacion -->
<div *ngIf="identity" class="menu-contenedor">
<!--MENU USUARIO-->
  <nav id="userLog">

    <div class="user-image" >
      <img id="imgLog" src="{{url + 'get-image-user/' + identity.image}}" >
    </div>

       <a class="itemLog" [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
          <span aria-hidden="true">{{identity.name}}</span>
      </a>

      <a class="itemLog" (click)="logout()" >
         <span  aria-hidden="true">Salir</span>
      </a>

  </nav>

<!--TITULO APP-->
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="" aria-hidden="true"></span>
          {{title}}
    </a>
  </h1>

<!--MENU APP-->
  <nav id="nav">
     <a class="itemNav" [routerLink]="['/home']" [routerLinkActive]="['actived']">
      <span  aria-hidden="true"></span>
      SEARCH
    </a>
    <a class="itemNav" [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
      <span  aria-hidden="true"></span>
      ARTISTS
    </a>
    <a class="itemNav" [routerLink]="['/albums', 1]" [routerLinkActive]="['actived']">
      <span  aria-hidden="true"></span>
      ALBUMS
    </a>
  </nav>

</div>

                               <!--Vista pirncipal-->
<!--================================================================================-->

<div *ngIf="identity" class="central">
  <div class="mask"></div>
    <router-outlet></router-outlet>

    <player class="player" *ngIf="identity"></player>

</div>

                           <!-- formulario de login-->
<!--===============================================================================-->
<section class="landing img-header">
    
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>
      <div class="sliderContainter">
        <span class="sliderImg"></span>
      </div>

  <div class="mask"></div>
    <div class="formSignupLoginContainer" *ngIf="!identity">
  
        <div class="login">
      
          <h1>Iniciar sesion</h1>
          <div *ngIf="messageErr">
            <div class="alert alert-info">
              <strong>Error</strong> {{messageErr}}
            </div>
          </div>
      
          <form #logingForm ="ngForm" (ngSubmit)="onSubmit()" class="form">
             
               <label>Correo electronico </label><br>
               <input type="email" #email="ngModel" name="email" [(ngModel)] ="user.email"   class="loginInput" required>
      
               <span *ngIf="!email.valid && email.touched" class="alert">
                   El email es obligatorio
               </span>
             <br>
      
               <label> Contraseña </label><br>
               <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="loginInput" required>
               <!--TODO WARNING PASSWORD-->
               <span *ngIf="" class="alert">
                   La contraseña es incorrecta
               </span>
             
             <br>
             <button type="submit" class="btn btnRaise" value="Iniciar sesion">Iniciar Sesión</button>
          </form>
        </div>
                                               
                                               <!--formulario de signup-->
      <!--=======================================================================================================-->
        
        <div class="signup">
      
          <h1>Registrate</h1>
      
          <div *ngIf="alertRegister">
            <div class="alert alert-info">
              {{alertRegister}}
            </div>
          </div>
      
          <form class="form" #registerForm ="ngForm" (ngSubmit)="onSubmitRegister()">
            
              <label>Nombre </label><br>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="signupInput" required>
      
              <span *ngIf="!name.valid && name.touched" class="alert">
                  El Nombre es obligatorio
              </span>
            
              <br>
            
              <label>Apellidos</label><br>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="signupInput" required>
              <span *ngIf="!surname.valid && surname.touched" class="alert">
                  El Apellido es obligatorio
              </span>
            
               <br>
            
              <label>Correo electronico </label><br>
              <input type="signinEmail" #signinEmail="ngModel" name="signinEmail" [(ngModel)] ="user_register.signinEmail"   class="signupInput" required>
      
              <span *ngIf="!signinEmail.valid && signinEmail.touched" class="alert">
                El email es obligatorio
              </span>
            
               <br>
            
              <label>Contraseña </label><br>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="signupInput" required>
            
            <br>
      
            <button type="submit" class="btn btnRaise" value="Registrarse">Registrarse</button>
          </form>
        </div>
      
      </div>
</section>  

